html {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.plan {
  border-bottom: 2px solid #f5f0f0;
}
.plan:last-child {
  border-bottom: none;
}
.image {
  margin: 20px;
  max-width: 100%;
}
.heading {
  color: #40916c;
  font-weight: 600;
  letter-spacing: 1px;
}
.features {
  color: #0081a7;
  margin: 50px 0 25px;
  letter-spacing: 1px;
  font-size: 12px;
}
.features_item {
  font-weight: 600;
  border-bottom: 1px solid #f5f0f0;
  margin-bottom: 10px;
}
.price {
  display: block;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
  color: #2d24d8;
}
.button {
  border: 1px solid dimgray;
  border-radius: 8px;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #1633b621;
  display: inline-block;
}
.button:hover,
.button:focus {
  background-color: lightblue;
  transition: background-color 1s ease-in-out;
}

.button.mid {
  background-color: #ade8f4;
  color: black;
}
.button.mid:hover,
.button.mid:focus {
  background-color: #4895ef;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .plan {
    border-bottom: none;
    border-right: 1px solid #f5f0f0;
    padding: 15px 15px;
  }
  .plan:last-child {
    border-right: none;
  }
  .image {
    height: 150px;
  }
}
